.container {
    background: yellow;
    height: 500px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;


}

.item {
    display: flex;
    background: purple;
    flex-flow: row;
    height: 150px;
    width: 150px;
    align-self: center;
    margin-right: 0px;
    justify-content: flex-start;

}